{% load i18n %}
<div style="margin: 0px auto; width: 800px; text-align: center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li> <a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "previous" %}</a></li>
        {% else %}
            <li class="disabled"><a> &lsaquo;&lsaquo; {% trans "previous" %}</a></li>
        {% endif %}
        {% for page in page_obj.pages %}
            {% if page %}
                {% ifequal page page_obj.number %}
                    <li class="active"><a>{{ page }}</a></li>
                {% else %}
                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                {% endifequal %}
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a href="?{{ page_obj.next_page_number.querystring }}" class="next">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
        {% else %}
            <li class="disabled next"><a>{% trans "next" %} &rsaquo;&rsaquo;</a></li>
        {% endif %}
    </ul>
</div>

