{% extends "base.html" %}
{%block title%}{{subject}}{%endblock title%}

{%block option%}
	{%if not user.is_authenticated%}
	<div class="thumbnail" style="text-align:center">
		<h5>Create and share free online wikis for your classroom in just minutes:</h5></br>
		<div class="btn-group" style="margin-left:60px">
		<a href="/user/register" class="btn btn-info"><i class="iconic-share" style="color:#fff"></i> Signup</a>
		<a href="/user/login" class="btn"><i class="iconic-user" style="color:#0088cc"></i> Login</a>
		</div><br>
	</div><br>
	{%else%}
	<div id="modalWiki" class="modal hide fade in" style="width:auto">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Create new wiki</h3>
            </div>
            <div class="modal-body">
          	{% include "wiki/createwiki_modal.html" %}
          	</div>
    </div>
    <div class="row-fluid">
    <a data-toggle="modal" href="#modalWiki" class="span12 btn btn-large"><i class="iconic-book-alt2" style="color:#0088cc; margin:20px 0px"> </i>New Wiki</a>
    </div></br>
	{%endif%}
{%endblock option%}
{%block breadcrumbs%}
	<span class="divider">&raquo</span>
	<li class = "active">{{subject}}</li>
{%endblock breadcrumbs%}
{% block moreinfor %}
	{% include "wiki/sidebar.html" %}	
{% endblock moreinfor %}
{% block content %}
</br><br>
	{% for wi in wikisubject.object_list %}
		 <div class="row-fluid" style="margin-bottom: 20px">
          <span class="badge badge-info">{{ wi.like }} <i class="iconic-star icon-white"></i></span>
          <a href="/{{ wi.titleid }}" style="font-size:20px;">{{wi.title}}</a>

            <div class="" style="margin: 10px 0px">
            <strong><i>Description: </i></strong>{{ wi.description }}
            </div>
            Written by: <a class="label label-success" href="/user/{{ wi.user }}">{{ wi.user.get_full_name }}</a></p>
            <i class=" iconic-tag" style="color: #0088cc;"></i> {{ wi.subject }}
    	</div><hr>
	{% endfor %}
	{%if wikisubject.object_list%}
	<div class="row">
		<div class="span12">
		{{wikisubject.render}}
		</div>
	</div>
	{%endif%}
	
{% endblock content%}
