{% extends "base_original.html" %}

{% block title %}
    Your email is changed!
{%  endblock %}

{% block content %}
    <div class="alert alert-info">
        You will be logout automatically after 10 seconds.
    </div>
    <h2>Your email is changed!</h2>
    <p>We just sent an email to both old and new email of you.</p>
    <p>Thank you for using our services! <i>from Group5 with love,..</i></p>
{% endblock %}


{% block extra_meta %}
    <meta http-equiv="Refresh" content="5; url=/user/logout">
{% endblock extra_meta %}