{% extends "base_original.html" %}

{% load markup %}

{% load gravatar %}

{% block title %}
    Account setting - change password
{% endblock %}

{% block wiki_sidebar %}
    <div class="alert alert-info">Note: logout (automatically) and login back required!</div>
    <div class="row-fluid" style="margin-bottom:10px">
        <div class="thumbnail">
            <h3 style="text-align: center"><small>This is your public profile! You can:</small></h3>
            <div  class="caption">
                <ul style="list-style:none; margin-left:10px">
                    <li><i class="iconic-brush-alt"></i><a href="/user/edit_profile"> Edit profile</a></li>
                    <li><i class="iconic-image" style="color:#0088cc"></i><a target="_blank" href="http://gravatar.com/"> Change avatar</a></li>
                    <li><i class="iconic-mail" style="color:#ee5f5b"></i><a href="/user/change_email"> Change email</a></li>
                    <li><i class="iconic-key" style="color:#c09853"></i><a href="/user/change_password"> Change password</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% include "profile.html" %}
{% endblock %}



{% block content %}
    {% if form.errors %}
        <div class="alert alert-error">There were some errors with your submission!!!</div>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="/">
        <div class="form_btn">
            <input type="submit" value="Change" class="btn btn-danger"/>
            <a href="/" class="btn">Cancel</a>
        </div>
    </form>
{% endblock %}

{% block extendcss %}
    <style type="text/css">
        label   {
            display: inline-block;
            width: 30%;
            text-align: right;
            padding-right: 30px;
            font-weight: bold;
        }
        input   {
            width: 40%;
        }
        div.form_btn  {
            padding-left: 45%;
        }
        ul.errorlist  {
            list-style: none;
        }
        ul.errorlist li {
            padding-left: 30%;
        }
    </style>
{% endblock %}