{% extends "base_original.html" %}

{% block title %}
    Your password is changed!
{%  endblock %}

{% block content %}
    <div class="alert alert-info">
        You will be logout automatically after 10 seconds.
    </div>
    <h2>Your password is changed!</h2>
    <p>Thank you for using our services! <i>from Group5 with love,..</i></p>
{% endblock %}


{% block extra_meta %}
    <meta http-equiv="Refresh" content="10; url=/user/logout">
{% endblock extra_meta %}