{% extends "base_original.html" %}

{% block title %}
    Your profile is updated!
{%  endblock %}

{% block content %}
    <div class="alert alert-info">
        This page will be redirected after 5 seconds.
    </div>
    <h2>Your profile is updated!</h2>
    <p>Thank you for using our services! <br />
        <i>from Group5 with love,..</i></p>
{% endblock %}


{% block extra_meta %}
    <meta http-equiv="Refresh" content="5; url=/">
{% endblock extra_meta %}