{% extends "base_original.html" %}

{% block title %}
    Forgot password
{% endblock %}

{% block wiki_sidebar %}
    <h2>Reset password</h2>
    <p>Be sure that you can check your email you already register with us, we will send you new password.</p>
    <div class="alert alert-info">If you already have an account, <a href="/user/login">login here</a>!<br />
    If you don't have engradeWikis, you can create a new one <a href="/user/register">here</a></div>
    </div>
{% endblock %}


{% block content %}
    {% if form.errors %}
        <div class="alert alert-error">
            There were some errors with your submission!!!
        </div>
    {% endif %}
    <form method="post" action=".">{% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="/" />
        <div class="form_btn">
            <input type="submit" value="Reset" class="btn btn-danger"/>
            <a href="/" class="btn">Cancel</a>
        </div>
    </form>

{% endblock %}

{% block extendcss %}
    <style type="text/css">
        label   {
            display: inline-block;
            width: 30%;
            text-align: right;
            padding-right: 30px;
            font-weight: bold;
        }
        input   {
            width: 40%;
        }
        div.form_btn  {
            padding-left: 30%;
        }
        ul.errorlist  {
            list-style: none;
        }
        ul.errorlist li {
            padding-left: 30%;
        }
    </style>
{% endblock %}

{% block scrxtd2 %}
{% endblock %}