{% extends "base_original.html" %}

{% block title %}
    Login
{% endblock %}

{% block wiki_sidebar %}
    <div class="well">
    <h2>Welcome back!</h2>
    <div class="alert alert-info">If you don't have engradeWikis account, go to <a href="/user/register/">this page</a> first!<br />
        If you forgot your password, go to <a href="/user/forgot_password/">this page</a></div>
    </div>
{% endblock %}

{% block content %}
{% if form.errors %}
    <div class="alert alert-error">
        There were some errors with your submission!!!
    </div>
{% endif %}
    <form method="post" action=".">{% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="/"/>
        <div class="form_btn"><input type="submit" value="Login" class="btn btn-success"/></div>
    </form>
{% endblock %}

{% block extendcss %}
    <style type="text/css">
        label   {
            display: inline-block;
            width: 30%;
            text-align: right;
            padding-right: 30px;
            font-weight: bold;
        }
        input   {
            width: 40%;
        }
        div.form_btn  {
            padding-left: 30%;
        }
        ul.errorlist  {
            list-style: none;
        }
        ul.errorlist li {
            padding-left: 30%;
        }
    </style>
{% endblock %}

{% block scrxtd2 %}
    <script type="text/javascript">
        document.getElementsByTagName('label').innerHTML = document.getElementsByTagName('label').innerHTML.replace(':','');
    </script>
{% endblock %}