{% extends "base_original.html" %}

{% block title %}
    Your password is reseted!
{%  endblock %}

{% block content %}
    <div class="alert alert-info">
        You will be able to login after 10 seconds.
    </div>
    <h2>Check out your lastest email, we just sent a new password for you!</h2>
    <p>Let's take that password to login, then change your password after that.</p>
    <p>Thank you for using our services! <i>from Group5 with love,..</i></p>
{% endblock %}


{% block extra_meta %}
    <meta http-equiv="Refresh" content="10; url=/user/login">
{% endblock extra_meta %}