{% extends "base_original.html" %}

{% block title %}
    Register successfully!
{%  endblock %}

{% block content %}
    <div class="alert alert-info">
        This page will be redirected after 10 seconds.
    </div>
    <h2>Thank for using our services!</h2>
    <p>Don't forget to check our email, you will need that email address later!
    <br />
    Group5</p>
{% endblock %}



{% block extra_meta %}
    <meta http-equiv="Refresh" content="10; url=/user/login">
{% endblock extra_meta %}