{% extends "base_original.html" %}

{% load markup %}

{% block title %}
    Register
{% endblock %}

{% block wiki_sidebar %}
    <div class="well">
    <h2>New to engradeWikis</h2>
    <p>Free and always be free!</p>
    <div class="alert alert-info">If you already have an account, <a href="/user/login">login here</a>!<br />
        If you forgot your password, go to <a href="/user/forgot_password/">this page</a></div>
    </div>
{% endblock %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-error">
            There were some errors with your submission!!!
        </div>
    {% endif %}
<form method="POST" action=".">{% csrf_token %}
    {{ form.as_p }}
    <div class="alert">
        By clicking register button, you agreed with our <a href="#">terms and policy</a>!
    </div>
    <div class="form_btn">
        <input type="submit" value="Register" class="btn btn-info"/>
        <a href="/" class="btn">Cancel</a>
    </div>
</form>
{% endblock %}

{% block extendcss %}
    <style type="text/css">
        label   {
            display: inline-block;
            width: 30%;
            text-align: right;
            padding-right: 30px;
            font-weight: bold;
        }
        input   {
            width: 40%;
        }
        div.form_btn  {
            padding-left: 30%
        }
        ul.errorlist  {
            list-style: none;
        }
        ul.errorlist li {
            padding-left: 30%;
        }
    </style>
{% endblock %}

{% block scrxtd2 %}

{% endblock %}