{% extends "base_original.html" %}

{%block extendcss%}
<style type="text/css">
    body    {
        background-size: contain;
    }
</style>
{%endblock extendcss%}

{% block wiki_sidebar %}
<div class="thumbnail">
    <h1 style="text-align: center">404</h1>
    <p>That’s an error.</p>
    <p style="overflow: hidden;">The requested URL <script type="text/javascript">document.writeln(window.location);</script> was not found on this server. That’s all we know.</p>
</div>
{% endblock %}

{% block content %}
    <h2>This is not the web page you are looking for :(</h2>
    <p>Try our search tool, or go <span class="label" onclick="history.go(-1)">back</span>!</p>
    <img style="float:right;" src="/static/robot.png"/>
{% endblock %}

{% block title %}
    404
{% endblock %}