<h2>Five reasons to create your own wiki now</h2>
<p>The wiki may be the most flexible, yet underrated tool in modern newsrooms. A collaborative system for sharing news and information has an infinite number of uses, yet many fail to use wikis in a journalism context. No more excuses. Here are a few reasons you should create a wiki right now:</p>

<h3>1. Share contacts</h3>
<p>
Gone are the days of the bulky Rolodex or the dusty clip files. The best way to keep track of sources is to create a wiki that anyone in the newsroom can access. The wiki can store simple information such as phone numbers or email addresses, but also can be a place to collect notes on each individual: what they know, who interviewed them before, what time they are usually available, etc. It’s either that or continue to get calls at 4 a.m. asking for your source’s telephone number.</p>

<h3>2. Gather information from your audience</h3>
<p>
Because a reporter never knows everything about a subject, chances are there is a reader or viewer who knows something that could greatly enhance a story. Public wikis are a great way to aggregate information from the people who know the subject matter best and is perhaps the best use of a wiki in today’s modern era of journalism.</p>
<p>
For example, The Globe and Mail uses its Public Policy Wiki to get suggestions from readers about public policy issues. Citizens of North East England can use Wiki North East, hosted by ncjMedia, to share news on the area.</p>
<p>
Wikis don’t have to solely serve the newsgathering process either. Entertainment Weekly has its own Harry Potter and Heroes wikis where users can share details about the entertainment franchises.</p>



<h3>3. Keep track of important dates</h3>
<p>
Never miss an important city council meeting or press conference when you add the event to a newsroom-wide wiki. A calendar wiki can also be used to remember recurring events such as festivals and holidays or to catalog awareness months such as Breast Cancer Awareness Month or International Talk Like a Pirate Day. Of course, a wiki isn’t the only way to keep track of upcoming events. Consider using collaborative calendar tools like Google Calendar.</p>


<h3>4. Share multimedia tools and tutorials</h3>
<p>
Many news organizations are training their staff in the latest multimedia techniques, but it’s usually a one-shot deal. Reporters are then left to fend for themselves armed only with their notes. A wiki is a great one-stop destination for sharing notes on multimedia tutorials as well as general reporting tips.</p>
<p>
If your newsroom doesn’t have such a collaborative resource, try the Digital Research Tools Wiki, The Society for News Design’s Tools for News and the Centre for Learning & Performance Technologies’ Directory of Learning Tools. All of the aforementioned wikis are publicly available and list tools that journalists can use to enhance the presentation of news online.</p>

<h3>5. Build the big story</h3>
<p>
You know the story: the one that requires months of research and several staff reporters to create. Make life easier by sharing notes and details in one place that those involved can access at any time. A wiki can cut down on overlap and show everyone what has been done and what is left to do.</p>