{% extends "base_original.html" %}

{% load gravatar %}


{% block wiki_menu_back_main %}
<div class="row-fluid" style="margin-top: 10px">
    <div class="span12">
        <ul class="breadcrumb">
            <li><a href="/wiki/main">Wikis</a></li>
            {%block breadcrumbs%}{%endblock breadcrumbs%}
        </ul>
    </div>
</div>
{% endblock wiki_menu_back_main %}



{% block wiki_sidebar %}
    <div class="sidebar-nav" style="padding: 8px 0;">
        <ul class="nav nav-list">
            {%block userinfo%}{%endblock userinfo%}
            {%block option%}{%endblock option%}
            {% block moreinfor %}{% endblock moreinfor %}
        </ul>
    </div>
{% endblock %}