<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  	<head>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<title>{%block title%}{%endblock title%}</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/wiki.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/syntax.css" type="text/css" />
		{%block extendcss%}{%endblock extendcss%}
        {% block srcxtd %}{% endblock srcxtd %}
        {% block extra_meta %}{% endblock extra_meta %}
    </head>
{% load gravatar %}
<body style="min-width: 380px">
<!-- Modal help
    <div style="width:auto; left:300px; right:50px;top:43%;" id="modalHelp" class="modal hide fade in">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Improve your's wiki</h3>
            </div>
            <div class="modal-body" style="height: 600px;">
          	{% include "wiki/help_modal.html" %}
          	</div>
    </div>
<! End Modal help-->

	<div class="navbar navbar-fixed-top" style="margin-bottom: 30px">
		<div class="navbar-inner">
	        <div class="container-fluid">
	        	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>

          		</a>
	        	<a class="brand" href="/">Engrade Wikis</a>
	          	<div class="navbar-text pull-right">
                      {% block account %}
                          {% if not user.is_authenticated %}
                              <ul class="nav">
                                  <li><a href="/user/register">Join now!</a></li>
                                  <li ><a href="/user/login">Login</a></li>
                              </ul>
                          {% else %}
                              <ul class="nav">
                                  <li style="margin-top:4px;">{% gravatar user.email 30 %}</li>
                                  <li><a rel="tooltip" data-original-title="Click to go your's page" href="/user/{{ user.username }}">{{ user.get_full_name }}</a></li>
                                  <li><a href="/user/logout" rel="tooltip" data-original-title="Click to logout">Logout</a></li>
                              </ul>
                          {% endif %}
                      {% endblock %}
	          	</div>
	          	<div class="nav-collapse collapse">
		            <ul class="nav">
		              	<li class="{% ifequal request.path "/wiki/main/" %}active{% endifequal %}"><a href="/wiki/main">Wikis</a></li>
		              	<li ><a data-toggle='modal' href="/wiki/help/"  rel="tooltip" data-original-title="How to improve your's wiki">Help</a></li>
		          	</ul>
					<form class="navbar-search pull-left" action = "/wiki/search/" method ="GET" >
        				<div class="control-group">
            				<div class="controls">
                				<div class="input-prepend"><span class="add-on"><i class="icon-search"></i></span><input rel="tooltip" data-original-title="Type to search" id="id_text" type="text" name="query"  maxlength="40" placeholder="Search..." />
                				</div>
            				</div>
        				</div>
    				</form> 
    			</div>
	        </div>
	    </div>
	</div>
	<!--MENU HEADER-->
	<!-- Breadcrumbs -->

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
			    {% block wiki_sidebar %}<br><br>
                <h2 onclick="window.location = '/'">Engrade wiki</h2>
                Proudly powered by Group5
	        	{% endblock wiki_sidebar %}
	        </div>
			<div class="span9">
				{% block wiki_menu_back_main %}{% endblock wiki_menu_back_main %}
	     		{% block content %}{% endblock content%}
	     	</div>
	  	</div>
	</div>
	<footer style="margin-top:10px;padding:5px 5px;bottom:0;border-top:1px solid #e3e3e3">
        <span style="color:#9e9e9e; text-decoration:none; font-size: 16px; margin:-20px 10px -10px 10px;">
        Design by Group 5 </span>
	</footer>
</body>
	<script src="/static/js/jquery-latest.js" type="text/javascript"></script>
	<script src="/static/js/wiki.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap-fileupload.js" type="text/javascript"></script>
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
	    extensions: ["tex2jax.js"],
	    jax: ["input/TeX", "output/HTML-CSS"],
	    tex2jax: {
	      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
	      processEscapes: true
	    },
	    "HTML-CSS": { availableFonts: ["TeX"] }
	  });
	</script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	<script>
	 $(document).ready(function(){
	 	$("a[rel=popover_right]").popover({
            placement: "right",
        });
       	$("a[rel=popover_left]").popover({
            placement: "left",
        });
	 	$('[id^="carousel_js"]').carousel();
		$('a[rel=tooltip]').tooltip({
		 	placement: "bottom",
    		});
		$('input[rel=tooltip]').tooltip({
		 	placement: "bottom",
    		});
    	$('a[rel=tooltipright]').tooltip({
		 	placement: "right",
    		});
		$(".like-click").click(function(){
				$.ajax({
			        url: "/{{wiki.titleid}}/like/?like",
			        success: function(html){
			            $('.like-results').load("/{{wiki.titleid}}/like/?like");
			        }
			    });
		});
		$('.dropdown-toggle').dropdown()
		});
	</script>
	<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'engradewikis'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();</script>
    {% block scrxtd2 %}{% endblock %}
</html>
