div.codehilite .hll { background-color: #ffffcc }
div.codehilite  { background: #f8f8f8; }
div.codehilite .c { color: #408080; font-style: italic } /* Comment */
div.codehilite .err { border: 1px solid #FF0000 } /* Error */
div.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
div.codehilite .o { color: #666666 } /* Operator */
div.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
div.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
div.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
div.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
div.codehilite .gd { color: #A00000 } /* Generic.Deleted */
div.codehilite .ge { font-style: italic } /* Generic.Emph */
div.codehilite .gr { color: #FF0000 } /* Generic.Error */
div.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
div.codehilite .gi { color: #00A000 } /* Generic.Inserted */
div.codehilite .go { color: #808080 } /* Generic.Output */
div.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
div.codehilite .gs { font-weight: bold } /* Generic.Strong */
div.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
div.codehilite .gt { color: #0040D0 } /* Generic.Traceback */
div.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
div.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
div.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
div.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
div.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
div.codehilite .kt { color: #B00040 } /* Keyword.Type */
div.codehilite .m { color: #666666 } /* Literal.Number */
div.codehilite .s { color: #BA2121 } /* Literal.String */
div.codehilite .na { color: #7D9029 } /* Name.Attribute */
div.codehilite .nb { color: #008000 } /* Name.Builtin */
div.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
div.codehilite .no { color: #880000 } /* Name.Constant */
div.codehilite .nd { color: #AA22FF } /* Name.Decorator */
div.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
div.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
div.codehilite .nf { color: #0000FF } /* Name.Function */
div.codehilite .nl { color: #A0A000 } /* Name.Label */
div.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
div.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
div.codehilite .nv { color: #19177C } /* Name.Variable */
div.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
div.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
div.codehilite .mf { color: #666666 } /* Literal.Number.Float */
div.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
div.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
div.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
div.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
div.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
div.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
div.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
div.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
div.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
div.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
div.codehilite .sx { color: #008000 } /* Literal.String.Other */
div.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
div.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
div.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
div.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
div.codehilite .vc { color: #19177C } /* Name.Variable.Class */
div.codehilite .vg { color: #19177C } /* Name.Variable.Global */
div.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
div.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
