.fontsize{
  color: #000;
  margin-left: 10px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 200%;
  
}
.fontsize p{
  color: #000;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 200%;
}

div.sectitle {
  color: #fff;
  margin: 0px 0px 10px 0px;
  padding: 0px 10px 4px 10px;
  border-bottom: 1px #9e9e9e solid;
  height: auto;

}
div.content{
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;    
  height: auto;
}


.btn-createwiki{
  margin: 20px 0px 20px 85px;
}
.label_create_wiki{
  width: 80px;
  font-weight:bold;

}

.addtext input#id_title,
.uneditable-input {
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
  margin-bottom: 12px;
  margin-top: 10px;
  color: #555555;
}
#id_title{
  margin: 10px 0px 10px 0px;
}
.content-label{
    height: 30px;
    width: 100px;
    text-decoration: none;  
    color: white;
    font-size: 16px;  
    font-weight: bold;  
    display: block;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;  
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
}
.addtext textarea#id_content,
.uneditable-input {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  line-height: 140%;
  color: #555555;
}



#user-links {
    background: #f1f1f1;
    background: -moz-linear-gradient(#f1f1f1, #e0e0e0);
    background: -webkit-linear-gradient(#f1f1f1, #e0e0e0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#e0e0e0')";
    float: left;
    margin: 2px 0 0 20px;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fafafa, inset 0 1px 0 #fafafa;
    list-style: none;
}


/*---------------------------------
  BREADCRUMBS
-----------------------------------*/
ul.breadcrumbs{
margin:0px 0px 0px 0px;
padding-left: 0px;
line-height:0%;
font-size:20px;
}

  ul.breadcrumbs li{
  list-style-type:none;
  margin:0;
  padding:0;
  display:inline-block;
  *display:inline; /* IE ONLY*/
  position:relative;
  zoom:1;
  line-height:100%;
  font-weight: bold;
  font-size:16px; /* 0.8em default to override font-size:0; on parent*/
  }
  
  ul.breadcrumbs li a{
  display:inline-block;
  *display:inline; /* IE ONLY*/
  position:relative;
  padding:5px 15px 5px 5px;
  font-size:0.9em;
  zoom:1;
  margin:0;
  background:url(img/icon-arrow-right.png) no-repeat right center;
  }
  
  ul.breadcrumbs li.last a{
  color:#999;
  cursor: default;
  text-decoration:none;
  background:red;
  }
  
  ul.breadcrumbs li.last a:hover{
  text-decoration:none;
  }
  
img{
display:inline-block;
position:relative;
}

  img.align-left{
    float:left;
    margin: 10px 20px 0px 15px;
  }
  img.align-right{
    float:right;
    margin: 10px 10px 0px 20px;
  }
.discuss{
  padding:5px 5px;
  border:1px dashed #999;
  border-radius: 6px 6px
}