{% extends "base_original.html" %}
{% load gravatar %}


{%block title%}Home Page{%endblock title%}
{% block wiki_sidebar %}
    {% if user.is_authenticated %}
            {% include "profile.html" %}
    {% else %}
    <div class="well">
        <h2>Engrade wiki</h2>
        <p>the <strong>free encyclopedia</strong> for teachers, lecturers and students all over the world!</p>
        <p>
        <a href="/user/register" class="btn btn-success">Register an account</a><br />
        or <a href="/user/login">Login to your account</a>
        </p>
    </div>
    {% endif %}
{% endblock %}



{% block content %}
    {% if user.is_authenticated %}
        Go to <a href="/user/{{ user.username }}">my page</a>!<hr />
        {% include "interest.html" %}
    {% else %}
        {% include "5_reasons_to_create_wiki_now.html" %}
    {% endif %}

{% endblock %}

