{% if not interests.object_list %}
    This section will link to somewhere cool with {{ profile.user.get_full_name }}, but
    <div class="alert">{{ profile.user.get_full_name }}'s list is currently not available!</div>
{% else %}
    <h2 style="margin-bottom: 10px">{{ profile.user.get_full_name }} is interest in</h2>
    {% for i in interests.object_list %}
    <div class="row-fluid" style="margin-bottom: 20px">
          <span class="badge badge-info">{{ i.like }}  <i class="icon-star icon-white"> </i></span>
          <a href="/{{ i.titleid }}" style="font-size:20px;">{{i.title}}</a>

            <div class="" style="margin: 10px 0px">
            <strong><i>Description: </i></strong>{{ i.description }}
            </div>
            Written by: <a class="label label-success" href="/user/{{ i.user }}">{{ i.user.get_full_name }}</a></p>
            <i class=" iconic-tag" style="color: #0088cc;"></i> {{ i.subject }}
    </div><hr>
    {% endfor %}
    <div class="row-fluid">
        <div class="span12">
            {{interests.render}}
        </div>
    </div>
{% endif %}