{% load gravatar %}
<div class="thumbnail">
    <div class="caption">
    	{% if profile.user.get_full_name %}
    	<div class="row-fluid" style="margin: 0px 10px 10px 10px">
    		<div class="span2">
    			<img src="{% gravatar_url profile.user.email 60 %}"/>
			</div>
			<div class="span10">
				<h2 >{{ profile.user.get_full_name }}</h2>
			</div>
		</div>
		{% endif %}

		<ul style="list-style-type:none; margin-left: 10px">
			<li>
				<i class="iconic-clock"></i>
				Member since:
				<span class="label label-success">{{ profile.user.date_joined|date:"d M y" }}</span>
			</li>

			{% if profile.website_blog %}
			    <li>
			        <i class="iconic-sun" style="color: orange"> </i> Website/blog: <a target="blank" href="{{ profile.website_blog }}">{{ profile.website_blog }}</a>
			    </li>
			{% endif %}

			{% if profile.location %}
			    <li>
			    <i class="iconic-home" style="color: #0088cc"> </i>
			        Location: <span class="label label-success">{{ profile.location }}.</span>
			    </li>
			{% endif %}

			{% if profile.about %}
			    <li>
			    	<i class=" iconic-heart" style="color: #ee5f5b"></i> 
			        {{ profile.user.username }}: <div class="alert alert-success">{{ profile.about }}</div>
			    </li>
			{% endif %}
		</ul>
    </div>
</div>