{% extends "base_original.html" %}

{% block title %}
    {{profile.user.get_full_name}}
{% endblock title %}


{% block wiki_sidebar %}
    {% if is_owner %}
        <div class="row-fluid" style="margin-bottom:10px">
            <div class="thumbnail">
                <h3 style="text-align: center"><small>This is your public profile! You can:</small></h3>
                <div  class="caption">
                    <ul style="list-style:none; margin-left:10px">
                        <li><i class="iconic-brush-alt"></i><a href="/user/edit_profile"> Edit profile</a></li>
                        <li><i class="iconic-image" style="color:#0088cc"></i><a href="http://gravatar.com/"> Change avatar</a></li>
                        <li><i class="iconic-mail" style="color:#ee5f5b"></i><a href="/user/change_email"> Change email</a></li>
                        <li><i class="iconic-key" style="color:#c09853"></i><a href="/user/change_password"> Change password</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {% include "profile.html" %}

{% endblock %}



{% block content %}
    {% include "interest.html" %}
    <hr />
    <div id="disqus_thread"></div>
{% endblock %}