<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  	<head>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<title>Improve your's </title>
		<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/bootstrap-responsive.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/wiki.css" type="text/css" />
		<link rel="stylesheet" href="/static/css/syntax.css" type="text/css" />
		{%block extendcss%}{%endblock extendcss%}
        {% block srcxtd %}{% endblock srcxtd %}
        {% block extra_meta %}{% endblock extra_meta %}
    </head>
{% load gravatar %}
<body style="min-width: 380px">
<!-- Modal help-->
<!-- End Modal help-->

	<div class="navbar navbar-fixed-top" style="margin-bottom: 30px">
		<div class="navbar-inner">
	        <div class="container-fluid">
	        	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>

          		</a>
	        	<a class="brand" href="/">Engrade Wikis</a>
	          	<div class="navbar-text pull-right">
                      {% block account %}
                          {% if not user.is_authenticated %}
                              <ul class="nav">
                                  <li><a href="/user/register">Join now!</a></li>
                                  <li ><a href="/user/login">Login</a></li>
                              </ul>
                          {% else %}
                              <ul class="nav">
                                  <li style="margin-top:4px;">{% gravatar user.email 30 %}</li>
                                  <li><a rel="tooltip" data-original-title="Click to go your's page" href="/user/{{ user.username }}">{{ user.get_full_name }}</a></li>
                                  <li><a href="/user/logout" rel="tooltip" data-original-title="Click to logout">Logout</a></li>
                              </ul>
                          {% endif %}
                      {% endblock %}
	          	</div>
	          	<div class="nav-collapse collapse">
		            <ul class="nav">
		              	<li class="{% ifequal request.path "/wiki/main/" %}active{% endifequal %}"><a href="/wiki/main">Wikis</a></li>
		              	<li ><a data-toggle='modal' href="#modalHelp"  rel="tooltip" data-original-title="How to improve your's wiki">Help</a></li>
		          	</ul>
					<form class="navbar-search pull-left" action = "/wiki/search/" method ="GET" >
        				<div class="control-group">
            				<div class="controls">
                				<div class="input-prepend"><span class="add-on"><i class="icon-search"></i></span><input rel="tooltip" data-original-title="Type to search" id="id_text" type="text" name="query"  maxlength="40" placeholder="Search..." />
                				</div>
            				</div>
        				</div>
    				</form> 
    			</div>
	        </div>
	    </div>
	</div>
	<!--MENU HEADER-->
	<!-- Breadcrumbs -->

	<div class="container-fluid">
		<div class="row-fluid">
		{% include "wiki/help_modal.html" %}
		</div>
	</div>
</body>
	<script src="/static/js/jquery-latest.js" type="text/javascript"></script>
	<script src="/static/js/wiki.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.js" type="text/javascript"></script>
</html>