{% for field in imageform.visible_fields %}
    {% for err in field.errors %}
    <li class="alert alert-error fade in": style="margin:10px 0px; list-style: none;">{{ err }}</li>
    {% endfor %}
{% endfor %}
<form action="/{{wiki.titleid}}/addimage/" method="post" enctype="multipart/form-data">{% csrf_token %}
	<input class="span5" style="font-size: 18px" id="id_title" type="text" name="title" maxlenght="80" placeholder = "Title">
	    <div class="fileupload fileupload-new" data-fileupload="image">
            <div class="fileupload-new thumbnail" style="max-width: 400px; height: 200px;"><img src="http://www.placehold.it/400x200/EFEFEF/AAAAAA&text=no+image" /></div>
            <div class="fileupload-preview fileupload-exists thumbnail" style="margin:3px 3px;max-width: 400px; max-height: 200px;"></div>
            <div style="margin-top:10px">
                <span class="btn btn-success btn-file"><i class="icon-plus icon-white"> </i> <span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="photo" id="id_photo"></span>
                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="icon-remove icon-white"> </i> Remove</a>
                <button class = "btn btn-primary fileupload-exists">
    	           <i class="icon-upload icon-white"> </i> Upload
    	           <input style="opacity:0;width:20px; height: 10px" type="submit" value="Upload" />
                </button>
            </div>
        </div>				
</form>