{% extends "base.html" %}
{% load markup%}
{% load gravatar %}
{%block title%}{{wiki.title}}{%endblock title%}
{%block userinfo%}
<div class="thumbnail">
	<div style="height: 60px;">
		<img style="float:left;margin:10px 10px; border-radius: 3px 3px;" height="40" src="{% gravatar_url wiki.user.email %}" width="40"/>
		<div style="float:left; margin-top:10px">
			<h6> <a style="text-decoration: none" href="/user/{{wiki.user}}">{{wiki.user.first_name}} {{wiki.user.last_name}}</a></h6>
			<div class="like-results">
				{% include "wiki/wiki_like.html" %}
			</div>
		</div>
	</div>
</div><br>

{%endblock userinfo%}
{% block moreinfor %}
<div class="thumbnail">
	<li class="nav-header"><h5>More form {{wiki.user.first_name}} {{wiki.user.last_name}}</h5></li>
	<ul class="nav nav-list">
		{% for wi in allwiki  %}
		<li class="{% ifequal request.path "{{wi.titleid}}" %}active{% endifequal %}"><a href="/{{wi.titleid}}"><i class="icon-file {% ifequal request.path "{{wi.titleid}" %}icon-white{% endifequal %}"></i>{{wi.title}}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock moreinfor %}

{%block breadcrumbs%}
	<span class="divider">&raquo</span>
  	<li>{{wiki.title}}</li>
{%endblock breadcrumbs%}
{% block content%}
	{% include "wiki/addimage_modal.html" %}
{% endblock content %}

