{% for field in textform.visible_fields %}
    {% for err in field.errors %}
    <li class="alert alert-error fade in": style="margin:10px 10px; list-style: none;">{{ err }}</li>
    {% endfor %}
{% endfor %}
<form name="Add text" action = "/{{wiki.titleid}}/addtext/" method ='POST'>
	{% csrf_token %} 
	<div class="addtext" >
    <div class= "row-fluid">
      <div class="span12">
        <input id="id_title" style="height:22px;" type="text" name="title" maxlength="40" placeholder="Title" />
      </div>
    </div>
    <div class= "row-fluid">
      <div class="span12">
	      <textarea rows="9" name="content" id="id_content" cols="100" class="span12"></textarea>
      </div>
    </div>
  </div>
  <div style="margin-top:10px">
    <a><input class = "btn" type="submit" value = "Save"/></a>
    <a href = "/{{wiki.titleid}}"class = "btn btn-danger" >Cancel</a>
  </div>
</form>