<form name="Edit" action = "/wiki/create/" method ='POST'>
	{% csrf_token %}
<table>
    <tbody>
   		<tr>
        	<td class="label_create_wiki">Title</td>
        	<td>{{form.title}}</td>
      	</tr>
      	<tr>
       		<td style=""></td>
        	<td>{{form.description}}</td>
      	</tr>
        <tr>
       		<td class="label_create_wiki">Grade Level </td>
        	<td>{{form.gradelevel}}</td>
      	</tr>
        <tr>
       		<td class="label_create_wiki">Subject</td>
        	<td>{{form.subject}}</td>
      	</tr>
        <tr>
       		<td class="label_create_wiki">Lesson type </td>
        	<td>{{form.lessontype}}</td>
      	</tr>
    </tbody>
</table>
    <button class = "btn btn-createwiki">
    	<i class="iconic-book-alt2" style="color:#0088cc"> </i> Create wiki
    	<input style="opacity:0;width:20px; height: 18px" type="submit" value="post" />
    </button>
</form>