{% extends "base.html"%}

{%block title%}Create Wikis{%endblock title%}
{%block option%}
	{%if not user.is_authenticated%}
	<p style="color:#999">Create and share free online wikis for your classroom in just minutes:<br/> 
	<div class="btn-group">
	<a href="/user/register" class="btn btn-info">Signup</a>
	<a href="/wiki/login" class="btn">Login</a>
	</div>
	{% else %}
	<div id="modalWiki" class="modal hide fade in" style="width:auto; top:42%">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Create new wiki</h3>
            </div>
            <div class="modal-body">
          	{% include "wiki/createwiki_modal.html" %}
          	</div>
    </div>
    <div class="row-fluid">
    <a data-toggle="modal" href="#modalWiki" class="span12 btn btn-large"><i class="iconic-book-alt2" style="color:#0088cc; margin:20px 0px"> </i>New Wiki</a>
    </div></br>
	{%endif%}
{%endblock option%}
{% block moreinfor %}
	{% include "wiki/sidebar.html" %}
{% endblock moreinfor %}

{%block breadcrumbs%}
  <li class = "disabled"><span style="font-size:14px;color:#999" >Create wiki<span/></li>
{%endblock breadcrumbs%}

{% block content%}
<div class="row-fluid">
  <div class="span8">
  {% for field in form.visible_fields %}
      {% for err in field.errors %}
      <li class="alert alert-error fade in": style="list-style: none;">{{ err }}</li>
      {% endfor %}
  {% endfor %}
    {% include "wiki/createwiki_modal.html" %}
  </div>
</div>
{% endblock %}