{% extends "base.html"%}
{% load markup%}
{% load gravatar %}
{%block userinfo%}
<div class="thumbnail">
    <div style="height: 60px;">
        <img style="float:left;margin:10px 10px; border-radius: 3px 3px;" height="40" src="{% gravatar_url wiki.user.email %}" width="40"/>
        <div style="float:left; margin-top:10px">
            <h6> <a style="text-decoration: none" href="/user/{{wiki.user}}">{{wiki.user.first_name}} {{wiki.user.last_name}}</a></h6>
            <div class="like-results">
                {% include "wiki/wiki_like.html" %}
            </div>
        </div>
    </div>
</div><br>
{%endblock userinfo%}}
{% block moreinfor %}
<div class="thumbnail">
    <li class="nav-header"><h5>More from {{wiki.user.first_name}} {{wiki.user.last_name}}</h5></li>
    <ul class="nav nav-list">
        {% for wi in allwiki  %}
            <li class="{% ifequal request.path "{{wi.titleid}}" %}active{% endifequal %}"><a href="/{{wi.titleid}}"><i class="iconic-book-alt" style="color:#000"></i> {{wi.title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock moreinfor %}

{%block breadcrumbs%}
	<span class="divider">&raquo</span>
  	<li>{{wiki.title}}</li>
{%endblock breadcrumbs%}
{% block content %}
	{% for field in textform.visible_fields %}
	    {% for err in field.errors %}
	    <li class="alert alert-error fade in": style="margin:10px 10px; list-style: none;">{{ err }}<a class="close" data-dismiss="alert" href="#">×</a></li>
	    {% endfor %}
	{% endfor %}
	<form name="Add text" action = "." method ='POST'>
		{% csrf_token %} 
	      <div class="addtext">{{textform.title}}
	      {{textform.content}}
	      </div>
	    <a><input class = "btn" type="submit" value = "Save"/></a>
	    <a href = "/{{wiki.titleid}}"class = "btn btn-danger">Cancel</a>
	</form>
{% endblock %}