{% extends "base.html"%}
{%block breadcrumbs%}
  	<span class="divider">&raquo</span>
  	<li>{{wiki.title}}</li>
{%endblock breadcrumbs%}

{%block title%}Edit {{wiki.title}}{%endblock title%}
{%block option%}
	{%if not user.is_authenticated%}
	<p style="color:#999">Create and share free online wikis for your classroom in just minutes:<br/> 
	<div class="btn-group">
	<a href="/user/register" class="btn btn-info">Signup</a>
	<a href="/wiki/login" class="btn">Login</a>
	</div>
	{% else %}
		<div id="modalWiki" class="modal hide fade in" style="width:auto">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Create new wiki</h3>
            </div>
            <div class="modal-body">
          	{% include "wiki/createwiki_modal.html" %}
          	</div>
    	</div>
	{%endif%}
{%endblock option%}
{% block moreinfor %}
	{% include "wiki/sidebar.html" %}
{% endblock moreinfor %}
{% block wiki_footer_copyright %}
    <h2 style="margin-left:20px; margin-top:-20px">Engrade wiki <small>Proudly powered by Group5</small></h2             
{% endblock %}

{% block content%}
<div class="row-fluid">
	<div class="span8">
{% for field in form.visible_fields %}
    {% for err in field.errors %}
    <li class="alert alert-error fade in": style="list-style: none;width: 300px">{{ err }}</li>
    {% endfor %}
{% endfor %}
	<form name="Edit" action = "." method ='POST'>
		{% csrf_token %}
	<table>
	    <tbody>
	   		<tr>
	        	<td class="label_create_wiki">Title</td>
	        	<td>{{form.title}}</td>
	      	</tr>
	      	<tr>
	       		<td style=""></td>
	        	<td>{{form.description}}</td>
	      	</tr>
	        <tr>
	       		<td class="label_create_wiki">Grade Level </td>
	        	<td>{{form.gradelevel}}</td>
	      	</tr>
	        <tr>
	       		<td class="label_create_wiki">Subject</td>
	        	<td>{{form.subject}}</td>
	      	</tr>
	        <tr>
	       		<td class="label_create_wiki">Lesson type </td>
	        	<td>{{form.lessontype}}</td>
	      	</tr>
	    </tbody>
	</table>
	    <button class = "btn btn-createwiki">
	    	<i class="iconic-spin" style="color:#0088cc"> </i> Update {{wiki.title}}
	    	<input style="opacity:0;width:20px; height: 18px" type="submit" value="post" />
	    </button>
	</form>
</div>
</div>
{% endblock %}