<div class="tabbable" style="margin-bottom: 18px;">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Markdown Syntax</a></li>
    <li class=""><a href="#tab2" data-toggle="tab">More Image</a></li>
    <li class=""><a href="#tab3" data-toggle="tab">Add <code>Youtube</code> <code>Vimeo.com</code> <code>Scribd.com</code></a></li>
  </ul>
  <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
    <div class="tab-pane active" id="tab1">
  <table class="table table-striped">
  <thead>
      <tr>
        <th style="width:100px">Name</th>
        <th style="width:560px">Code</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Paragraphs</td>
        <td>This is a paragraph. It has two sentences.</br>
            This is another paragraph. It also has
            two sentences.</td>
        <td>This is a paragraph. It has two sentences.</br>
            This is another paragraph. It also has 
            two sentences.
        </td>
      </tr>
      <tr>
        <td>Emphasized text</td>
        <td>
          *emphasis* <code>or</code> _emphasis_ </br>
          **strong emphasis** <code>or</code> __strong emphasis__
        </td>
        <td>
          <i>emphasis</i></br>
          <strong>strong emphasis</strong>
        </td>
      </tr>
      <tr>
        <td>Lists</td>
        <td>
          <p>
          <code>*</code> An item in a bulleted (unordered) list <br>
          &nbsp &nbsp &nbsp &nbsp <code>*</code> A subitem, indented with 4 spaces</br>
          <code>*</code> Another item in a bulleted list</br>
          </p>
        </td>
        <td>
          <ul>
            <li>An item in a bulleted (unordered) list
              <ul>
                <li>A subitem, indented with 4 spaces</li>
              </ul>
            </li>
            <li>Another item in a bulleted list</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Headings</td>
        <td>
         <code>#</code> First-level heading</br></br></br> 
         <code>##</code> Second-level heading</br></br></br>
         <code>###</code> Third-level heading</br></br></br>
         <code>####</code> Fourth-level heading</br></br>
         <code>#####</code> Fifth-level heading</br></br>
         <code>######</code> Sixth-level heading</br>
        </td>
        <td>
          <h1>First-level heading</h1></br>
          <h2>Second-level heading</h2></br>
          <h3>Third-level heading</h3></br>
          <h4>Fourth-level heading</h4></br>
          <h5>Fifth-level heading</h5></br>
          <h6>Sixth-level heading</h6>
        </td>
      </tr>
      <tr>
        <td>Blockquotes</td>
        <td>
          <code>></code>
          "This entire paragraph of text will be enclosed in an HTML blockquote element.
          Blockquote elements are reflowable. You may arbitrarily
          wrap the text to your liking, and it will all be parsed
          into a single blockquote element."
        </td>
        <td><blockquote><p>This entire paragraph of text will be enclosed in an HTML blockquote element. Blockquote 
elements are reflowable. You may arbitrarily wrap the text to your liking, and it will all
be parsed into a single blockquote element.</p></blockquote></td>
      </tr>
      <tr>
        <td>Links</td>
        <td>
          [Markdown](http://en.wikipedia.com/wiki/Markdown)
        </td>
        <td>
          <a href="http://en.wikipedia.com/wiki/Markdown">Markdown</a>
        </td>
      </tr>
          
      <tr>
        <td>Image</td>
        <td>
          <code>![alt text]("http://www.placehold.it/400x200/text=Engrade+Wikis" "Title")<code>
        </td>
        <td>
          <img src="http://www.placehold.it/400x200/EFEFEF/AAAAAA&text=Engrade+Wikis" title="Title">
        </td>
      </tr>
      <tr>
        <td>Horizontal rules</td>
        <td>
          <code>* * *</code></br></br>
          <code>***</code></br></br>
          <code>*****</code></br></br>
          <code>- - -</code></br></br>
          <code>---------------------------------------</code></br></br>
        </td>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>Highlight code</td>
        <td>
        <code>```</code>ruby</br>
        &nbsp require 'redcarpet'</br>
        &nbsp markdown = Redcarpet.new("Hello World!")</br>
        &nbsp puts markdown.to_html</br>
      <code>```</code>
        </td>
        <td>
        <div class="codehilite"><pre><span class="nb">require</span> <span class="s1">'redcarpet'</span>
          <span class="n">markdown</span> <span class="o">=</span> <span class="no">Redcarpet</span><span class="o">.</span><span class="n">new</span ><span class="p">(</span><span class="s2">"Hello World!"</span><span class="p">)</span>
          <span class="nb">puts</span> <span class="n">markdown</span><span class="o">.</span><span class="n">to_html</span>
        </pre></div>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
    <div class="tab-pane" id="tab2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:100px">Name</th>
          <th>Code</th>
          <th>Result</th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td>Add carousel</td>
        <td>
          <span style="font-size:17px">[</span> <code> {slide} </code> &nbsp<code>link_img1</code> &nbsp |  &nbsp<code> link_img2 </code> &nbsp |  &nbsp<code> link_img3 </code> &nbsp |  &nbsp<code> link_img4 </code>&nbsp <span style="font-size:17px"> ] </span></br>
          Link is seperate by vertical bar <code>|</code>
          <h6>Example</h6>
          <span style="font-size:17px">[</span>{slide}http://farm8.static.flickr.com/7189/6982063282_ca706637ae_b.jpg <code> | </code>http://farm8.static.flickr.com/7079/7128139959_2f5a87c6fd_b.jpg <code> | </code>http://farm8.static.flickr.com/7203/7128119959_9aba3d2de6_b.jpg <code> | </code>http://farm8.static.flickr.com/7217/6982047148_fc0ce4eb12_b.jpg <code> | </code>http://farm9.static.flickr.com/8024/6982026260_659a8ac3a2_b.jpg <span style="font-size:17px"> ] </span>
        </td>
        <td>
          <div class="carousel slide span9" id="carousel_help">
          <div class="carousel-inner">
          <div class="item">
          <div clas="thumbnails"><img src="http://farm8.static.flickr.com/7189/6982063282_ca706637ae_b.jpg" width="100%"></div>
          </div>
          <div class="item">
          <div clas="thumbnails"><img src="http://farm8.static.flickr.com/7079/7128139959_2f5a87c6fd_b.jpg" width="100%"></div>
          </div>
          <div class="item active">
          <div clas="thumbnails"><img src="http://farm8.static.flickr.com/7203/7128119959_9aba3d2de6_b.jpg" width="100%"></div>
          </div>
          <div class="item">
          <div clas="thumbnails"><img src="http://farm8.static.flickr.com/7217/6982047148_fc0ce4eb12_b.jpg" width="100%"></div>
          </div>
          <div class="item">
          <div clas="thumbnails"><img src="http://farm9.static.flickr.com/8024/6982026260_659a8ac3a2_b.jpg" width="100%"></div>
          </div>
          </div>
          <a class="carousel-control left" data-slide="prev" href="#carousel_help">‹</a><a class="carousel-control right" data-slide="next" href="#carousel_help">›</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>Align, resize image</td>
        <td>
        <span style="font-size:17px">[</span> <code> {image} </code> &nbsp <code>{align|width*height}</code>&nbsp<code>link_img</code>&nbsp<span style="font-size:17px"> ] </span></br>
        <h6>Example</h6>
        <span style="font-size:17px">[</span>{image}{left|200*200}http://i2.sqi.sh/s_3/etR/lrg_img_1306.jpg
        <span style="font-size:17px"> ] </span></br>
        </td>
        <td>
        <img class="align-left" height="200" src="http://i2.sqi.sh/s_3/etR/lrg_img_1306.jpg" style="border:1px solid #e3e3e3; padding:6px 6px; border-radius: 2px 2px" width="200">
        </td>
      </tr>
          <tr>
        <td>Table</td>
        <td>
          <code>First Header  | Second Header</code></br></br>
          <code>-- | -- </code></br></br>
          <code> Content Cell  | Content Cell </code> </br></br>
          <code> Content Cell  | Content Cell </code> </br></br>
        </td>
        <td>
          <table class="table table-bordered table-striped" style="width:auto">
          <thead>
          <tr>
          <th>First Header</th>
          <th>Second Header</th>
          </tr>
          </thead>
          <tbody stype="width:auto">
          <tr>
          <td>Content Cell</td>
          <td>Content Cell</td>
          </tr>
          <tr>
          <td>Content Cell</td>
          <td>Content Cell</td>
          </tr>
          </tbody>
          </table>
        </td>
      </tr>
    </tbody>
    </table>
    </div>
    <div class="tab-pane" id="tab3">
      <table class="table table-striped">
          <thead>
            <tr>
              <th style="width:200px">Name</th>
              <th style="width: 400px">Code</th>
              <th>Result</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>Add Video <code>Youtube.com</code>&nbsp <code>Vimeo.com</code></td>
            <td>
              <span style="font-size:17px">[</span> <code> link youtube </code>&nbsp <code>or</code>&nbsp <code> link Vimeo.com </code>&nbsp <span style="font-size:17px"> ] </span></br>
              <h6>Example</h6>
              <span style="font-size:17px">[</span> http://www.youtube.com/watch?v=TTA2buWlNyM&ob=av2n <span style="font-size:17px"> ] </span></br>
              <span style="font-size:17px">[</span> http://vimeo.com/27243869 <span style="font-size:17px"> ] </span>
              
            </td>
            <td>
            <iframe frameborder="0" height="360" name="allowFullScreen" src="http://www.youtube.com/v/TTA2buWlNyM&amp;ob=av2n?version=3&amp;theme=light&amp;color=red" type="text/html" width="80%"></iframe>
            <hr>
            <iframe frameborder="0" height="360" name="allowFullScreen" src="http://vimeo.com/moogaloop.swf?clip_id=27243869&amp;amp;server=vimeo.com" type="text/html" width="640"></iframe>
            </td>
          </tr>
          <tr>
            <td>Add doc on <code> Scribd.com </code></td>
            <td>
            <span style="font-size:17px">[</span> <code> link scirbd.com </code>&nbsp<span style="font-size:17px"> ] </span></br>
            <h6>Example</h6>
            <span style="font-size:17px">[</span>http://www.scribd.com/doc/88565257/Toi-Yeu-Em-Pu-skin
            <span style="font-size:17px"> ] </span></br>
            </td>
            <td>
            <iframe data-aspect-ratio="0.772727272727273" data-auto-height="true" frameborder="0" height="600" scrolling="yes" src="http://www.scribd.com/embeds/88565257/content?start_page=1&amp;view_mode=list" width="80%"></iframe>
            </td>
          </tr>
        </tbody>
  </table>
    </div>
  </div>
</div>