{% extends "base.html" %}
{%block extendcss%}		
{%endblock extendcss%}

{%block title%}Engrade Wikis{%endblock title%}
{%block option%}
	{%if not user.is_authenticated%}
	<div class="thumbnail" style="text-align:center">
		<h5>Create and share free online wikis for your classroom in just minutes:</h5></br>
		<div class="btn-group" style="margin-left:60px">
		<a href="/user/register" class="btn btn-info"><i class="iconic-share" style="color:#fff"></i> Signup</a>
		<a href="/user/login" class="btn"><i class="iconic-user" style="color:#0088cc"></i> Login</a>
		</div><br>
	</div><br>
	{%else%}
	<div id="modalWiki" class="modal hide fade in" style="width:auto; top:42%">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Create new wiki</h3>
            </div>
            <div class="modal-body">
          	{% include "wiki/createwiki_modal.html" %}
          	</div>
    </div>
    <div class="row-fluid">
	<a data-toggle="modal" href="#modalWiki" class="span12 btn btn-large"><i class="iconic-book-alt2" style="color:#0088cc;"> </i>New Wiki</a>
	</div>
	{%endif%}
{%endblock option%}
{% block moreinfor %}
</br>
	{% include "wiki/sidebar.html" %}
{% endblock moreinfor %}
{%block breadcrumbs%}
	<span class="divider">&raquo</span>
  	<li>Main</li>
{%endblock breadcrumbs%}
{%block content %}
<div class="row-fluid" style="margin: 10px 10px">
	<div class="span4">
	  <h3>Music</h3>
	  	{% for wi in wikiMusic %}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_right" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   {%endfor%}
	   	<a href="/dir/Music" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Music</a>
	</div><!--/span-->
	<div class="span4">
	  <h3>Arts</h3>
	  	{% for wi in wikiArt%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_right" data-content="{{wi.description}}" data-original-title="{{wi.title}}"  href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/Art" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Arts</a>

	</div><!--/span-->
	<div class="span4">
	  <h3>Movie</h3>
	  	{% for wi in wikiMovie%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_left" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/Movie" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Movie</a>
	</div><!--/span-->
</div><!--/row-->

<div class="row-fluid" style="margin: 60px 10px">
	<div class="span4">
	  <h3>Sicence</h3>
	  	{% for wi in wikiScience%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_right" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/Sicence" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Sicence</a>
	</div><!--/span-->
	<div class="span4">
	  <h3>Business & Economics</h3>
	  	{% for wi in wikiEconomic%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_right" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/Business" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Business & Economics</a>
	</div><!--/span-->
	<div class="span4">
	  <h3>Computer Science</h3>
	  	{% for wi in wikiComputerScience%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_left" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a  href="/dir/Computers" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Computer Science</a>
	</div><!--/span-->
</div><!--/row-->

<div class="row-fluid" style="margin: 60px 10px">
	<div class="span4">
	  <h3>Geography</h3>
	  	{% for wi in wikiGeography%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_right" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/Geography" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Geography</a>
	</div><!--/span-->
	<div class="span4">
	  <h3>History</h3>
	  	{% for wi in wikiHistory%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_right" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/History" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about History</a>
	</div><!--/span-->
	<div class="span4">
	  <h3>Foreign Language</h3>
	  	{% for wi in wikiLanguage%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_left" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/Foreign" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Foreign Language</a>
	</div><!--/span-->
</div><!--/row-->
<div class="row-fluid" style="margin: 60px 10px">
	<div class="span4">
	  <h3>Math</h3>
	  	{% for wi in wikiMath%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_right" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/Math" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Math</a>
	</div><!--/span-->
	<div class="span4">
	  <h3>Religion</h3>
	  	{% for wi in wikiReligion%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_right" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/Religion" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Religion</a>
	</div><!--/span-->
	<div class="span4">
	  <h3>Other</h3>
	  	{% for wi in wikiOther%}
	  	<div style="margin-bottom: 4px">
	  	<span class="label label-info" >{{wi.like}} <i class="icon-thumbs-up icon-white"></i></span>
		<a rel="popover_left" data-content="{{wi.description}}" data-original-title="{{wi.title}}" href="/{{wi.titleid}}" style="text-decoration: none;  font-weight: bold">{{wi.title}}</a>
	   	</div>
	   	{%endfor%}
	   	<a href="/dir/Other" style="text-decoration: none;font-style: italic;">&rsaquo;&rsaquo; Show more wiki about Other</a>
	</div><!--/span-->
</div><!--/row-->
{% endblock %}