<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>{{wiki.title}}</title>
	<link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/wiki.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/syntax.css" type="text/css" />
</head>
{% load markup %}
<body style="width:1122.519685039px; margin: 0px auto">	
	<div style="margin: 30px 10px">
			<h1 style="font-weight: normal">{{wiki.title}}</h1>
	</div>
		{%for sec in section%}
				<div>
					<h2 id="{{sec.title}}" style="margin-left:10px;color:#3e3e3e; font-weight:normal">{{sec.title}}</h2>
				</div>
			<div class = "fontsize" style="margin-left: 12px">{{sec.content_markdown|markdown}}</div>
			{%endfor%}
</body>
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
	    extensions: ["tex2jax.js"],
	    jax: ["input/TeX", "output/HTML-CSS"],
	    tex2jax: {
	      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
	      processEscapes: true
	    },
	    "HTML-CSS": { availableFonts: ["TeX"] }
	  });
	</script>
	<script type="text/javascript" src="https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	<script>
		$('#userbox,#user-links,.change-wiki,.editwiki').tooltip({
		 	placement: "bottom",
     		selector: "a[rel=tooltip]",
    		});
		$(".like-click").click(function(){
			$(".like-results").load("/{{wiki.titleid}}/like/?like");
			return false;
			});
		$('.dropdown-toggle').dropdown()
		});
	</script>

</html>
