{% extends "base.html" %}
{%block extendcss%}		
{%endblock extendcss%}

{%block title%}Search Engrade Wikis{%endblock title%}
{%block breadcrumbs%}
    <span class="divider">&raquo</span>
    <li>Search</li>
{%endblock breadcrumbs%}
{%block option%}
	
	{%if not user.is_authenticated%}
	<div class="thumbnail">
    <div class="" style="text-align:center">
        <h5>Create and share free online wikis for your classroom in just minutes:</h5></br>
        <div class="btn-group" style="margin-left:50px">
        <a href="/user/register" class="btn btn-info"><i class="iconic-share" style="color:#fff"></i> Signup</a>
        <a href="/user/login" class="btn"><i class="iconic-user" style="color:#0088cc"></i> Login</a>
        </div><br>
    </div><br>
	{%else%}
	<div id="modalWiki" class="modal hide fade in" style="width:auto">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Create new wiki</h3>
            </div>
            <div class="modal-body">
          	{% include "wiki/createwiki_modal.html" %}
          	</div>
    </div>
    <div class="row-fluid">
    <a data-toggle="modal" href="#modalWiki" class="span12 btn btn-large"><i class="iconic-book-alt2" style="color:#0088cc; margin:20px 0px"> </i>New Wiki</a>
    </div></br>
	{%endif%}
{%endblock option%}
{% block moreinfor %}
	{% include "wiki/sidebar.html" %}
{% endblock moreinfor %}
{% block content %}
    <form action = "/wiki/search/" method ="GET" >
        <div class="control-group">
            <div class="controls">
                <div class="input-prepend"><span style="height:30px;width:30px" class="add-on"><i style="margin-top: 7px" class="icon-search"></i></span><input style="height:30px; font-size:18px; width:300px" type="text" name="query" value="{{query|escape}}" placeholder="Search..." />
                </div>
            </div>
        </div>
    </form> 
	{% if not wiki.object_list %}
		<h2>No result <small>:(</small></h2>	
	{% endif %}
	{% if wiki %}
	{% for wi in wiki.object_list  %}
		 <div class="row-fluid" style="margin-bottom: 20px">
          <span class="badge badge-info">{{ wi.like }} <i class="iconic-star icon-white"></i></span>
          <a href="/{{ wi.titleid }}" style="font-size:20px;">{{wi.title}}</a>

            <div class="" style="margin: 10px 0px">
            <strong><i>Description: </i></strong>{{ wi.description }}
            </div>
            Written by: <a class="label label-success" href="/user/{{ wi.user }}">{{ wi.user.get_full_name }}</a></p>
            <i class=" iconic-tag" style="color: #0088cc;"></i> {{ wi.subject }}
    	</div><hr>
	{% endfor %}
	{% endif %}
    {%if wiki.object_list%}
    <div class="row">
        <div class="span12">
        {{wiki.render}}
        </div>
    </div>
    {%endif%}
	
{% endblock content %}