
<ul class="nav nav-tabs nav-stacked">
	<li class="{% ifequal request.path "/dir/All" %}active{% endifequal %}"><a href="/dir/All"><i class="icon-home"></i> All Subjects</a></li>
	<li class="{% ifequal request.path "/dir/Art" %}active{% endifequal %}"><a href="/dir/Art"><i class="icon-gift"></i> Art</a></li>
	<li class="{% ifequal request.path "/dir/Movie" %}active{% endifequal %}"><a href="/dir/Movie"><i class="icon-folder-open {% ifequal request.path "/dir/Movie" %}{% endifequal %}"></i> Movie</a></li>
	<li class="{% ifequal request.path "/dir/Music" %}active{% endifequal %}"><a href="/dir/Music"><i class="icon-folder-open "></i> Music</a></li>
	<li class="{% ifequal request.path "/dir/Economic" %}active{% endifequal %}"><a href="/dir/Economic"><i class="icon-eye-open"></i> Bussiness and Economic</a></li>
	<li class="{% ifequal request.path "/dir/Computers" %}active{% endifequal %}"><a href="/dir/Computers"><i class="icon-list-alt"></i> Computer Science</a></li>
	<li class="{% ifequal request.path "/dir/Geography" %}active{% endifequal %}"><a href="/dir/Geography"><i class="icon-folder-open"></i> Geography</a></li>
	<li class="{% ifequal request.path "/dir/Religion" %}active{% endifequal %}"><a href="/dir/Religion"><i class="icon-film {% ifequal request.path "/dir/Religion" %}{% endifequal %}"></i> Religion</a></li>
	<li class="{% ifequal request.path "/dir/Math" %}active{% endifequal %}"><a href="/dir/Math"><i class="icon-music"></i> Math</a></li>
	<li class="{% ifequal request.path "/dir/Language" %}active{% endifequal %}"><a href="/dir/Language"><i class="icon-folder-open"></i> Foreign Language</a></li>
	<li class="{% ifequal request.path "/dir/Science" %}active{% endifequal %}"><a href="/dir/Science"><i class="icon-facetime-video"></i> Science</a></li>
	<li class="{% ifequal request.path "/dir/History" %}active{% endifequal %}"><a href="/dir/History"><i class="icon-tint"></i> History</a></li>
	<li class="{% ifequal request.path "/dir/Other" %}active{% endifequal %}"><a href="/dir/Other"><i class="icon-road"></i> Other</a></li>
<ul/>