{% if request.user.is_authenticated and not userlike %}
	<a rel="tooltipright" data-original-title="Click to like {{wiki.title}}" class="like-click label label-important" style="font-weight:bold"> {{wiki.like}} <i class="icon-thumbs-up icon-white"></i></a>
{%else%}
	<span class="label label-info" style="font-weight:bold" > {{wiki.like}} <i class="icon-thumbs-up icon-white"> </i></span>
{%endif%}