
{% extends "base.html" %}

{% load markup%}

{% load gravatar %}

{%block title%}{{wiki.title}}{%endblock title%}

{%block userinfo%}
    {%if user.is_authenticated%}
    <div class="row-fluid">
    <a rel="tooltip" data-original-title="Hit to create new wiki" data-toggle="modal" href="#modalWiki" class="span12 btn btn-large"><i class="iconic-book-alt2" style="color:#0088cc; margin:40px 0px"> </i>New Wiki</a>
    </div></br>
    {%endif%}
<div class="thumbnail">
    <div class="caption">
        {% if profile.user.get_full_name %}
        <div class="row-fluid" style="margin: 0px 10px 10px 10px">
            <div class="span2">
                <img src="{% gravatar_url profile.user.email 60 %}"/>
            </div>
            <div class="span10">
                <h2><a style="text-decoration: none; cursor:pointer" rel="tooltipright" data-original-title="Visit {{profile.user.get_full_name}} site" href="/user/{{profile.user}}">{{ profile.user.get_full_name }}</a></h2>
            </div>
        </div>
        {% endif %}

        <ul style="list-style-type:none; margin-left: 10px">
            <li>
                <i class="iconic-clock"></i>
                Member since:
                <span class="label label-success">{{ profile.user.date_joined|date:"d M y" }}</span>
            </li>

            {% if profile.website_blog %}
                <li>
                    <i class="iconic-sun" style="color: "> </i> Website/blog: <a target="blank" href="{{ profile.website_blog }}">{{ profile.website_blog|urlize}}</a>
                </li>
            {% endif %}

            {% if profile.location %}
                <li>
                <i class="iconic-home" style="color: "> </i>
                    Location: <span class="label label-success">{{ profile.location }}.</span>
                </li>
            {% endif %}

            {% if profile.about %}
                <li>
                    <i class=" iconic-heart" style="color: #ee5f5b"></i> 
                    {{ profile.user.username }}: <div class="alert alert-success">{{ profile.about }}</div>
                </li>
            {% endif %}
        </ul>
    </div>
</div></br>
{%endblock userinfo%}


{%block option%}
<div class="thumbnail">
    {%if not user.is_authenticated%}
    <div class="" style="text-align:center">
        <h5>Create and share free online wikis for your classroom in just minutes:</h5></br>
        <div class="btn-group" style="margin-left:50px">
        <a href="/user/register" class="btn btn-info"><i class="iconic-share" style="color:#fff"></i> Signup</a>
        <a href="/user/login" class="btn"><i class="iconic-user" style="color:#0088cc"></i> Login</a>
        </div><br>
    </div><br>
    {%else%}
    <li class="nav-header"><h5>Option</h5></li>
    <ul class="nav nav-list">
        <li><a rel="tooltip" data-original-title="Using to print" href="/print/{{wiki.titleid}}"><i class="icon-print"></i> Print</a></li>
        <li><a href="/wiki/pdfexport/{{wiki.titleid}}"><i class="icon-download-alt"></i> Dowload PDF file</a></li>

    </ul>
    {%endif%}
</div>
{%endblock option%}


{% block moreinfor %}
</br>
<div class="thumbnail">
    <li class="nav-header"><h5>More from {{wiki.user.first_name}} {{wiki.user.last_name}}</h5></li>
    <ul class="nav nav-list">
        {% for wi in allwiki  %}
            <li class="{% ifequal request.path "{{wi.titleid}}" %}active{% endifequal %}"><a href="/{{wi.titleid}}"><i class="iconic-book-alt" style="color:#000"></i> {{wi.title}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock moreinfor %}


{%block breadcrumbs%}
    <span class="divider">&raquo</span>
    <li>{{wiki.title}}</li>
{%endblock breadcrumbs%}


{% block content%}      
    <!-- Using bootstrap model -->
    <div id="modalWiki" class="modal hide fade in" style="width:auto; top:42%">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Create new wiki</h3>
            </div>
            <div class="modal-body">
            {% include "wiki/createwiki_modal.html" %}
            </div>
    </div>
    <div id="modalImage" class="modal fade">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Add image</h3>
            </div>
            <div class="modal-body">
            {% include "wiki/addimage_modal.html" %}
            </div>
    </div>
    <div style="width:auto;" id="modalText" class="modal hide fade in">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Add text</h3>
            </div>
            <div class="modal-body">
            {% include "wiki/addtext_modal.html" %}
            </div>
    </div>
    <div class= "row-fluid">
        <div class = "span12">
            <h1 style="color: #3e3e3e;font-weight: normal;margin-left:5px">{{wiki.title}} <span class="like-results">{% include "wiki/wiki_like.html" %} </span></h1>
        </ul>
            <div class="btn-toolbar">
                    <div class="btn-group" style="margin-left:5px">
                    <a href="/user/add/{{ wiki.titleid }}" class="btn btn-info" rel="tooltip" data-original-title="Add interest"><i class="icon-bookmark icon-white"></i></a>
                    {% if user.is_authenticated %}
                        <a data-toggle="modal" href="#modalText" rel="tooltip" data-original-title="Add a section" class="btn"><i class=" icon-pencil"></i></a>
                        <a data-toggle="modal" href="#modalImage" rel="tooltip" data-original-title="Add an image" class="btn"><i class=" icon-picture"></i> </a>
                         <a href="/{{wiki.titleid}}/editwiki" rel="tooltip" data-original-title="Edit wiki" class="btn"><i class="icon-edit"></i></a>
                        <a href="/{{wiki.titleid}}/deletewiki/" rel="tooltip" data-original-title="Delete wiki" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this wiki?')"><i class=" icon-trash icon-white"></i></a>
                    {% endif %}

                    </div>
            </div> 
        </div>
    </div>
            <div class="row-fluid">
                <div class="span5" style="margin-left: 6px">
                    <div>
                        <a rel="tooltipright" data-original-title="Click to show or hide" style="line-height:20px;text-decoration:none; cursor: pointer" class="badge badge-info" data-toggle="collapse" href="#menuwiki"><i class="icon-th-list icon-white"></i> Menu</a>
                        <div id="menuwiki" class="accordion-body in">
                            <ol style="list-style: none; margin-top:5px;margin-left:20px">
                            {% for sec in section  %}
                                <li><span class="badge badge-info">{{ forloop.counter }}</span> <a href="#{{sec.title}}">{{sec.title}}</a></li>
                            {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
<div class = "content">
    {%for sec in section%}
    <div class = "row-fluid">
        <div class = "span12">
            <div class = "sectitle">
                <div class="row-fluid">
                    <div class="span9">
                    <h1 style="color: #3e3e3e;font-weight: normal;margin-left:-10px" id="{{sec.title}}">{{sec.title}}</h1>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="span3">
                        <div class = "setting" style="margin-top: 10px">
                            <div class="btn-group ">
                                <a href="/{{wiki.titleid}}/{{sec.id}}/move/?move=1" class="btn btn-mini" rel="tooltip" data-original-title="Move up"><i class=" icon-arrow-up"></i></a>
                                <a href="/{{wiki.titleid}}/{{sec.id}}/move/?move=0" class="btn btn-mini" rel="tooltip" data-original-title="Move down"><i class=" icon-arrow-down"></i></a>
                                <a href="/{{wiki.titleid}}/{{sec.id}}/edit" class="btn btn-mini" rel="tooltip" data-original-title="Edit section"><i class=" icon-edit"></i></a>
                                <a href="/{{wiki.titleid}}/deletesection/?id={{sec.id}}" class="btn btn-mini btn-danger" rel="tooltip" data-original-title="Delete section" onclick="return confirm('Are you sure you want to delete this section?')"><i class=" icon-trash icon-white"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
          <div class = "fontsize" style="margin-left:0px;margin-bottom: 40px">{{sec.content_markdown|markdown}}</div>
        {%endfor%}
</div>
    <a rel="tooltip" data-original-title="Click to show or hide"  style="margin-left: 5px" style="text-decoration:none; cursor: pointer" class="badge badge-info" data-toggle="collapse" data-parent="#accordion2" href="#discuss"> <i class="iconic-comment-alt2-stroke icon-white"></i> Discussion</a>
            <div style="margin-top:10px" id="discuss" class="accordion-body in" >
                <div class="discuss" id="disqus_thread"></div>
            </div>
{% endblock %}